BasedOnStyle: LLVM
Language: Cpp
Standard: Cpp03
IndentWidth: 2
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
ColumnLimit: 0
ReflowComments: false
AlignOperands: false
AlignTrailingComments: false
AlignAfterOpenBracket: DontAlign
BreakConstructorInitializers: AfterColon
SpaceBeforeParens: Never
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeTernaryOperators: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
