*~
*.swp
*.swo
*bk
CaloGrid
ClassesDict_rdict.pcm
DelphesHepMC
DelphesLHEF
DelphesROOT
DelphesSTDHEP
DelphesValidation
ExRootAnalysisDict_rdict.pcm
Example1
FastJetDict_rdict.pcm
ModulesDict_rdict.pcm
hepmc2pileup
lhco2root
libDelphes.so
libDelphesNoFastJet.so
pileup2root
root2lhco
root2pileup
stdhep2pileup
tmp
cards/ATLAS_Run2/data/
cards/ATLAS_Run2/images/
validation/src/__pycache__/
.gitignore
cards/ATLAS_Run2/parameter_fits.ipynb