*~
*.swp
*.swo
*bk
CaloGrid
ClassesDict_rdict.pcm
DelphesHepMC
DelphesLHEF
DelphesROOT
DelphesSTDHEP
DelphesValidation
ExRootAnalysisDict_rdict.pcm
Example1
FastJetDict_rdict.pcm
ModulesDict_rdict.pcm
hepmc2pileup
lhco2root
libDelphes.so
libDelphesNoFastJet.so
pileup2root
root2lhco
root2pileup
stdhep2pileup
tmp

Makefile
DelphesHepMC2
DelphesHepMC3
DelphesPythia8
DisplayDict_rdict.pcm
Pythia8Dict_rdict.pcm
libDelphesDisplay.so
