*~
*.swp
*.swo
*bk
CaloGrid
ClassesDict_rdict.pcm
DelphesCMSFWLite
DelphesHepMC2
DelphesHepMC3
DelphesLHEF
DelphesROOT
DelphesSTDHEP
DelphesValidation
ExRootAnalysisDict_rdict.pcm
Example1
ModulesFastJetDict_rdict.pcm
FastJetDict_rdict.pcm
ModulesDict_rdict.pcm
hepmc2pileup
lhco2root
libDelphes.so
libDelphesNoFastJet.so
pileup2root
root2lhco
root2pileup
stdhep2pileup
tmp
